* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #4e9f3d, #7ed957);
    min-height: 100vh;
    color: white;
}




/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
     background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(6px);
}

nav h2 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #ff9800;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px 25px 20px;
    padding-bottom: 0px;


}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    opacity: 0.9;
}

/* COURSES */

.courses h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 25px;
    margin-top: 40px;
}



.courses {
    padding: 20px 40px 40px 40px;
    text-align: center;
}

.course-card {
    background: white;
    color: #1f1f1f;
    width: 320px;
    padding: 25px;
    margin: 20px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: 0.4s;
}

.course-card:hover {
    transform: translateY(-10px);
}

.course-card h3 {
    margin-bottom: 10px;
}

.course-card p {
    margin-bottom: 15px;
}

.course-card a {
    padding: 10px 18px;
    background: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.course-card a:hover {
    background: #e68900;
}

/* COURSE DETAIL */
.course-detail {
    text-align: center;
    padding: 60px 20px;
}

.courses-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.video-container {
    margin: 30px auto;
}

button {
    padding: 12px 25px;
    background: #ff9800;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e68900;
}

/* DASHBOARD */
.dashboard {
    text-align: center;
    padding: 60px 20px;
}

.progress-box {
    width: 60%;
    margin: auto;
}

.progress-bar {
    background: #ddd;
    height: 22px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
}

#progress-fill {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, #667eea, #764ba2);
    transition: 1s;
}

#progress-text {
    display: block;
    margin-top: 8px;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }

    .course-card {
        width: 90%;
    }

    .progress-box {
        width: 90%;
    }
}
